@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
}

.color-black {
    color: #000000;
}

.flex {
    display: flex;
}


li {
    list-style: none;
}

ul,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}



body {
    font-family: 'Raleway', Verdana, sans-serif;

    line-height: 1;
    font-size: 16px;
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0px auto;
    padding: 0 20px;
}

/**************** HEADER ******************/
/*****************************************/


/***************** NAV ******************/
/***************************************/

#logo {
    margin-right: auto;

}

#logo img {
    width: 120px;
}

.main-nav ul {
    justify-content: flex-end;
    padding: 0;
}

.nav-item {

    padding: 40px 20px;
}

.nav-item a {
    text-decoration: none;

}

.nav-item:hover {

    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 37px;
}

/***************** NAV ******************/
/***************************************/

.main-nav~div {
    margin: 20px 0;
    line-height: 1.2;
}

.main-nav~div strong {
    font-size: 1.4em;
    font-weight: bold;
}

/************** RECHERCHE ***************/
/****************************************/

#recherche {
    margin: 20px 0;
}

.location {
    background-color: #F2F2F2;
    padding: 16px 18px;
    border-radius: 20px 0 0 20px;
}


#recherche input {
    color: #000000;
    font-size: 1.1em;
    padding: 14px;
    border-left: none;
    border-right: none;
    font-weight: bold;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;

}

#recherche input:focus {
    outline: none;
}



#recherche button {
    color: #ffffff;
    background-color: #0065FC;
    padding: 15px;
    font-weight: bold;
    border: none;
    border-radius: 0 20px 20px 0;
}

#recherche button:hover,
#recherche button:focus {
    background-color: #0043a3;
    box-shadow: 1px 1px 10px #d8d8d8;
    transition: .2s;
}

#recherche button i {
    display: none;
}

/************** RECHERCHE ***************/
/****************************************/

/****************** FILTRES ******************/
/********************************************/


#filtres {
    align-items: flex-end;
    column-gap: 30px;
    margin: 30px 0;
}

#filtres ul {
    column-gap: 30px;
}

#filtres span:nth-child(1) {
    margin: auto 0;
    font-size: 1.2em;
    font-weight: bold;
}

#filtres a {
    height: 40px;
    justify-content: center;
    border: 1px solid #d8d8d8;
    border-radius: 30px;
    padding: 0px 10px;
    transition: .2s;
}

#filtres a:hover {
    box-shadow: 1px 1px 5px #d8d8d8;
}

#filtres i {
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 40px;
    margin-right: 5px;
}

#filtres .eco {
    padding: 12px 12px 0px 12px;
}

#filtres .famille {
    padding: 12px 14px 0px 14px;
}

#filtres .romantique {
    padding: 12px 12px;
}

#filtres .pets {
    padding: 12px 12px;
}

#filtres ul span {
    padding: 4px;
    margin: auto 0;
    color: #000000;
    font-weight: bold;
}

/****************** FILTRES ******************/
/********************************************/

/**************** HEADER ******************/
/*****************************************/




/****************** MAIN *******************/
/******************************************/

/****************** INFO ******************/
/*****************************************/

#info i {
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
    border-radius: 40px;
    color: #0065FC;

}

#info p {
    margin: auto 10px;
}

#info {
    margin: 30px 0;
}

/****************** INFO ******************/
/*****************************************/


/***************** TOP ***********************/
/********************************************/

#top {
    flex-direction: row;
    gap: 40px;
}

#top .section-header {
    padding: 0 30px;
    margin: 20px 0;
}

.section-footer {
    padding: 0 30px;
    margin: 20px 0;
}

.star-full {
    color: #0065FC;
}

.star-empty {
    color: #d8d8d8;
}

/************** GAUCHE ***************/
/************************************/

#section-gauche {
    background-color: #F2F2F2;
    padding: 20px 0;
    width: 70%;
    border-radius: 20px;
}

#section-gauche .card-container {
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
}

#section-gauche .card-container h2 {
    width: 90%;
}

#section-gauche .card {
    width: calc(100% / 3 - 20px);
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #d8d8d8;
    transition: 0.2s;
}

#section-gauche .card:hover {
    box-shadow: 15px 15px 15px #d8d8d8;
}

#section-gauche .card-body h3 {
    margin: 0;
    font-size: 16px;
}

#section-gauche .card-body p {
    margin: 5px 0;
    font-size: 14px;
}

#section-gauche img {
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#section-gauche .card-body {
    padding: 0 10px;
}

.section-footer a {
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
}

/************** GAUCHE ***************/
/************************************/


/************* DROITE **************/
/**********************************/

#section-droite {
    width: 30%;
    background-color: #F2F2F2;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
}

#section-droite .card-container {
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#section-droite .section-header {
    justify-content: space-between;
}

#section-droite .card-body {
    flex-direction: column;
}

#section-droite .section-header i {
    padding-top: 10px;
}

#section-droite .card {
    width: 100%;
    height: 130px;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    gap: 20px;
    box-shadow: 5px 5px 20px #d8d8d8;
    transition: 0.2s;
}

#section-droite .card:hover {
    box-shadow: 15px 15px 15px #d8d8d8;
}

#section-droite .card img {
    width: 120px;
    height: 100%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

#section-droite .card-body {
    width: 50%;
}

#section-droite .card-body h3 {
    margin: 0;
    font-size: 16px;
    padding: 5px 0;
}

#section-droite .card-body p {
    font-size: 14px;
}

#section-droite .stars {
    margin-top: auto;
}


/***************** DROITE ********************/
/********************************************/


/***************** TOP ***********************/
/********************************************/

/***************** BOT **********************/
/*******************************************/


.lh-12 {
    height: 100%;
}

.lh-8 {
    height: calc(100% * (8 / 12) - 15px);
}

.lh-7 {
    height: calc(100% * (7 / 12) - 15px);
}

.lh-6 {
    height: calc(100% * (6 / 12) - 15px);
}

.lh-5 {
    height: calc(100% * (5 / 12) - 15px);
}

.lh-4 {
    height: calc(100% * (4 / 12) - 15px);
}

.lh-3 {
    height: calc(100% * (3 / 12) - 15px);
}



#bot {
    margin-top: 50px;
    margin-bottom: 30px;
}

#bot h2 {
    margin: 20px 0;
}

#bot .card-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    gap: 30px;
}

#bot .card h3 {
    margin: 0;
    overflow: hidden;
    font-size: 1em;
    padding-left: 20px;
}

#bot .card {
    width: calc(100% / 4 - 30px);
    box-shadow: 5px 5px 20px #d8d8d8;
    border-radius: 15px;
    transition: 0.2s;
}

#bot .card:hover {
    box-shadow: 13px 13px 20px #d8d8d8;
    transition: 0.2s;
}

#bot .card img {
    height: calc(100% - 35px);
    margin-bottom: 5px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

/***************** BOT **********************/
/*******************************************/

/****************** MAIN *******************/
/******************************************/

/***************** FOOTER *****************/
/*****************************************/

main ~ footer {
    background-color: #F2F2F2;
    line-height: 2;
    padding: 30px 0;
}

main ~ footer h3 {
    margin: 0;
    margin-bottom: 10px;
}

main ~ footer .flex {
    gap: 200px;
}

main ~ footer li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

main ~ footer li a:hover {
    text-shadow: 2px 2px 1px #d8d8d8;
}

/***************** FOOTER *****************/
/*****************************************/

/****************** MEDIA QUERY *************/
/*******************************************/


/****************** SMARTPHONE *****************/
/**********************************************/

@media (max-width: 768px) {

    body {
        font-size: 14px;
    }

/****************** HEADER *********************/
/**********************************************/

    #logo {
        margin: auto;
    }

    header {
        text-align: left;

    }

    .main-nav {
        flex-direction: column;
        margin-left: -20px;
        margin-right: -20px;
    }

    .main-nav ul {
        justify-content: center;
    }


    .nav-item {
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 10px 0;
        border-bottom: 3px solid #F2F2F2;
    }

    .nav-item:hover {
        border: 0;
        padding: 10px 0;
        border-bottom: 3px solid #0065FC;
    }

    .main-nav .nav-item:active {
        border: 0;
        padding: 10px 0;
        border-bottom: 3px solid #0065FC;
    }

    /************** RECHERCHE ***************/
    /****************************************/

    #recherche {
        max-width: 100%;
        justify-content: center;
    }

    #recherche input {
        width: 100%;
    }

    #recherche button {
        border-radius: 15px 15px;
        margin-left: -10px;
    }

    #recherche button span {
        display: none;
    }

    #recherche button i {
        display: block;
    }

    /************** RECHERCHE ***************/
    /****************************************/

    /****************** FILTRES ******************/
    /********************************************/

    #filtres {
        flex-wrap: wrap;
        gap: 15px;

    }

    #filtres ul {
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 15px;
    }

    /****************** FILTRES ******************/
    /********************************************/

/****************** HEADER *********************/
/**********************************************/


/****************** MAIN *********************/
/**********************************************/

    /***************** TOP ***********************/
    /********************************************/

    main #top {
        margin-left: -20px;
        margin-right: -20px;
    }

    #top {
        gap: 25px;
        flex-flow: column-reverse;
    }

    #top .card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    /************** GAUCHE ***************/
    /************************************/

    #section-gauche {
        width: 100%;
        border-radius: 0;
        background-color: #ffffff;
        padding: 0;
        margin: 10px 0;

    }

    #section-gauche .card-container {

        gap: 15px;
    }

    #section-gauche .card {
        width: 100%;
    }

    /************** GAUCHE ***************/
    /************************************/

    /************** DROITE ***************/
    /************************************/

    #section-droite {
        width: 100%;
        border-radius: 0;
        padding: 10px 0;
    }


    #section-droite .card-container {
        gap: 10px;
    }

    #section-droite .card-container h2,
    #section-droite .card-container i {
        margin: 20px 0;
    }

    #section-droite .stars {
        height: 30px;
    }

    /************** DROITE ***************/
    /************************************/

    /***************** TOP ***********************/
    /********************************************/

    /***************** BOT **********************/
    /*******************************************/

    #bot {

        margin-top: 0;
    }

    #bot .card-container {
        height: auto;
        gap: 20px;

    }


    #bot .card {
        height: 150px;
        width: 100%;
        padding-bottom: 15px;
    }

    #bot .card img {
        height: calc(100% - 20px);
        margin-bottom: 10px;
    }

    /***************** BOT **********************/
    /*******************************************/

    /****************** MAIN *******************/
    /******************************************/

    /***************** FOOTER *****************/
    /*****************************************/

    main ~  footer .flex {
        flex-direction: column;
        gap: 20px;
    }

    /***************** FOOTER ****************/
    /*****************************************/

}

/****************** SMARTPHONE *****************/
/**********************************************/


/******************* TABLETTE *****************/
/*********************************************/
@media (min-width: 768px) and (max-width: 992px) {


    /******************* HEADER *****************/
    /*******************************************/

    #filtres a {
        flex-wrap: nowrap;
    }

    #filtres {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    #filtres ul {
        column-gap: 30px;
    }

    /******************* HEADER *****************/
    /*******************************************/

    #top {
        flex-flow: column-reverse;
    }

    #top #section-gauche {
        width: 100%;
    }

    #section-gauche a {
        width: 100%;
    }

    #section-gauche .card {
        width: calc(100% / 3 - 20px);
    }

    #section-droite {
        width: 100%;
    }

    #section-droite #card-container-header {
        width: 100%;
    }

    #section-droite .card-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #section-droite .card {
        width: 100%;
    }

    #section-droite .card .card-img {
        width: 200px;
    }



    /***************** BOT **********************/
    /*******************************************/


    .mh-12 {
        height: calc(100%);
    }

    .mh-8 {
        height: calc(100% * (8 / 12) - 10px);
    }

    .mh-7 {
        height: calc(100% * (7 / 12) - 10px);
    }

    .mh-6 {
        height: calc(100% * (6 / 12) - 10px);
    }

    .mh-5 {
        height: calc(100% * (5 / 12) - 10px);
    }

    .mh-4 {
        height: calc(100% * (4 / 12) - 10px);
    }

    .mh-3 {
        height: calc(100% * (3 / 12) - 10px);
    }

    #bot .card-container {
        height: 300px;
        font-size: 0.8em;
        gap: 20px;
    }

    #bot .card {
        width: calc(100% / 4 - 20px);
    }

    #bot .card img {
        margin-bottom: 10px;
    }

    #bot .card strong {
        padding-left: 15px;
    }

    /***************** BOT **********************/
    /*******************************************/

    /***************** FOOTER *****************/
    /*****************************************/
    main ~  footer {
        line-height: 1.7;
    }

    main ~  footer .flex {
        gap: 120px;
    }

    /***************** FOOTER *****************/
    /*****************************************/

}

/******************* TABLETTE *****************/
/*********************************************/


/****************** MEDIA QUERY *************/
/*******************************************/