
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
*{
    box-sizing: border-box;
}

.color-black{
    color: #000000;
}

.d-flex{
    display: flex;
}

.d-ib{
    display: inline-block;
}

li{
    list-style: none;
}

.mx-auto{
    margin: 0 auto;
}


body{
    font-family: 'Raleway', Verdana, sans-serif;

    line-height: 1;
    font-size: 16px
}

.container{
    width: 95%;
}

.main-nav ul{
    justify-content: flex-end;
    padding: 0;
}

.main-nav ul li{
    margin: 20px 5px;
}

.nav-item a{
    text-decoration: none;
    padding: 30px 20px;
}

.nav-item a:hover{
    margin: 0;
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#logo{
    margin-right: auto;
}

.location{
    background-color: #F2F2F2;
    padding: 16px 18px;
    border-radius: 15px 0 0 15px;
}


form input{
    padding: 14px;
    border-left: none;
    border-right: none;
    font-weight: bold;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;

}


form button{
    color: #ffffff;
    background-color: #0065FC;
    padding: 15px;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
}

.icon-background{
 color: #F2F2F2;
}

#filtres div{
    border: 1px solid black;
    border-radius: 30px 0 0 30px;
}